#app {
  font-family: 'Noto Sans JP', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $primary_black;
}

//.v-input__slot {
//  box-shadow: unset !important;
//  border: 1px solid $key_line_color_1 !important;
//}

.box-content {
  background: #E5E5E5;
}

.v-main__wrap{
  background-color: $bg_color_2;
}

